<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic view</title>
  </head>
  <body>
    <h1>Hello from EJS</h1>
    
    <h2>Hello <%=text%></h2>
    <h2>Hello <%=goop%></h2>
    <h3>Hello <%=tableMate%></h3>
    <% if(tableMate){%> <% tableMate.forEach(friend=>{ %>
    <h2>hello <%= friend %></h2>
    <% }) %> <%} %>
  </body>
</html>
